.kb-dataPanel {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.kb-dataPanel-list {
    background: #FFF;
    height: 100%;
    overflow-y: auto;
    min-width: 380px;
}

.kb-data-card {
    margin: 0.1em;
    transition: all 0.1s ease;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #fff;
    color: #333;
    box-shadow: 1px 1px 1px 1px #fff;
    -webkit-box-shadow: 1px 1px 1px 1px #fff;
    -moz-box-shadow: 1px 1px 1px 1px #fff;
}

.kb-data-card:hover {
    border-left-color: #4BB856;
    box-shadow: 1px 1px 1px 1px #aaa;
    -webkit-box-shadow: 1px 1px 1px 1px #aaa;
    -moz-box-shadow: 1px 1px 1px 1px #aaa;
}

.kb-card-icon {
    margin-left: 0.3em;
    margin-right: 0.2em;
}

.kb-data-card-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9em;
}

.kb-data-card-info {
    white-space: nowrap;
    width: 80%;
    padding: 6px 0;
    border-bottom: 1px solid #E0E0E0;
}

.kb-data-card-name {
    color: #2e618d;
    font-family: 'Oxygen', Arial, sans-serif;
    font-weight: bold;
    margin: 0.1em;
    cursor: pointer;
}

.kb-data-card-name:hover {
    text-decoration: underline;
}

.kb-data-card-type, .kb-data-card-date {
    color: #777;
    font-size: 0.9em;
    margin: 0.1em;
}

.kb-data-card-date {
    white-space: nowrap;
}

.kb-data-card-version {
    color: #777;
    font-size: 0.75em;
    font-style: italic;
    white-space: nowrap;
    margin-left: 0.2em;
}

.kb-card-ellipsis {
    margin-left: auto;
    justify-content: center;
}


/* card layout */

.narrative-card-logo{
    display: flex;
    width: 50px;
    margin-right: 2px;
}

.narrative-card-row-main{
    display: flex;
    align-items: center;
    width:98%;
    margin:0px 2px;
    padding:0px 4px;
}

.narrative-data-list-subcontent{
    padding-left :10px;
}

.narrative-card-ellipsis{
    display:flex;
    align-items: center;
    justify-content: center;
    width:20px;
}

.narrative-card-palette-icon{
    position: relative;
    color: '#888';
    left: 15px;
    top: -50px;
}

.narrative-card-action-button-wrapper{
    width: 80px;
    height: 50px;
    margin: 0px 10px;
}

.narrative-card-action-button{
    width: calc(100% - 6px);
    height: 80%;
    display: flex;
    padding: 0px;
    justify-content: center;
}

.narrative-card-action-button > span{
    margin-right: 5px;
}
.narrative-card-action-button-name{
    display: inline-block;
}
.narrative-data-panel-btnToolbar > span{
    color: #888;
}
.narrative-data-panel-btnToolbar{
    display: flex;
    justify-content: center;
}
